---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";

const events = await Astro.glob("./events/*.md");
---

<Layout title="Networthy - Events">
  <section>
    <div class="grid grid-cols-[20rem_1fr]">
      <div class="filter border-r border-zinc-300">
        <div class="filter-group flex flex-col gap-2 p-4">
          <div class="flex justify-between items-center gap-4">
            <div class="text-sm font-bold">0 results</div>
            <div class="text-sm font-bold underline text-zinc-600">Clear</div>
          </div>
          <input
            type="text"
            class="text-sm w-full border border-zinc-300 bg-zinc-100 rounded-md p-2"
            placeholder="Search for an event"
          />
        </div>
        <div class="filter-group flex flex-col gap-2 p-4">
          <div class="flex justify-between items-center gap-4">
            <div class="text-sm font-bold">Category:</div>
            <div class="text-sm font-bold underline text-zinc-600">Clear</div>
          </div>
          <input
            type="text"
            class="text-sm w-full border border-zinc-300 bg-zinc-100 rounded-md p-2"
            placeholder="Search for an event"
          />
        </div>
      </div>
      <div>
        {
          events.map((event) => (
            <EventCard
              name={event.frontmatter.title}
              category={event.frontmatter.category}
              date={event.frontmatter.date}
              location={event.frontmatter.location}
              url={event.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
